body{
    margin: 0;
}

/* Colors */

.color-dark-s {
    color: #CDCDCD;
}

.color-light-xl {
    color: #FFFFFF;
}

.color-primary {
    color: #F1CDB3;
}

/* END Colors */

/* Typography */

h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color:#FFFFFF;
    line-height: 57.2px;
    margin: 0;
}

h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color:#545454;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    margin: 0;
}

h4 {
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:#545454;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 0;
}

h5 {
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color:#545454;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    margin: 0;
}

.p-l {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}

.p-sm {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin: 0;
}

/* END Typography */

section {
    padding: 80px 40px 100px 40px;
}

section .title-block{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mr-2 {
    margin-right: 20px;
}

a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    color: #292929;
    text-decoration: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
}

a.button:hover {
    background-color: #FDDCC4;
}

header.primary {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, #211F20, #211F20);
    padding: 60px 40px 0px 40px;
}

header.white {
    background-color: #FFFFFF;
    padding: 30px 40px 30px 40px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    align-items: center;
}

.logo-title {
    font-family: Georgia;
    letter-spacing: 0.06em;
    line-height: 35.2px;
    font-size: 32px;
    margin-bottom: 10px;
}

.primary .logo-title{
    color: #F1CDB3;
}

.white .logo-title {
    color: #545454;
}

.logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 14.95px;
}

.primary .logo-subtitle {
    color: #FFFFFF;
}

.white .logo-subtitle {
    color: #292929;
}

/* Menu */

.primary .menu a:hover{
    color: #FAFAFA
}

.white .menu a:hover{
    color: #292929
}

.primary .menu a.active{
    border-bottom-width: 3px;
    border-bottom-color: #F1CDB3;
    border-bottom-style: solid;
    color: #FAFAFA;
}

.white .menu a.active{
    border-bottom-width: 3px;
    border-bottom-color: #F1CDB3;
    border-bottom-style: solid;
    color: #545454;
}

.primary .menu a{
    text-decoration: none;
    margin-left: 35px;
    color: #CDCDCD
}

.white .menu a{
    text-decoration: none;
    margin-left: 35px;
    color: #545454
}

/* END Menu */

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: 460px;
    margin-top: 163px;
}

.info-title {
    margin-bottom: 42px;
}

.info-description {
    margin-bottom: 42px;
}

.puppy-block {
    width: 698px;
    height: 728px;
    background: url(/images/puppy.png);
}

.about-pets {
    height: 200px;
}

/* About shelter */

section.about-shelter {
    display: flex;
    justify-content: space-between;
}

.about-shelter-img {
    margin-left: 175px;
    width: 300px;
    height: 408px;
    background: url(/images/about-pets.png);
}

.about-shelter-info {
    width: 430px;
    margin-right: 175px;
}

.about-shelter-info-block{
    margin-bottom: 25px;
}

/* END About shelter */

/* Section Pets */

section.pets{
    background-color: #F6F6F6;
}

.pets-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pets-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px -20px -15px -20px;
}

.pets-container-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    margin: 0px 20px 30px 20px;
    border-radius: 9px;
}

.pets-container-card:hover {
    cursor: pointer;
}

.pets-container-card:hover a.slider-button {
    background-color: #FDDCC4;
    border-width: 2px;
    border-color: #FDDCC4;
    border-style: solid;
}

.pets-slider-arrow {
    width: 52px !important;
    height: 52px !important;
}

.right-arrow {
    transform: rotate(180deg);
}

a.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    color: #292929;
    border-width: 2px;
    border-color: #F1CDB3;
    border-style: solid;
    text-decoration: none;
}

.card:hover {
    cursor: pointer;
}

.card:hover a.slider-button {
    background-color: #FDDCC4;
    border-width: 2px;
    border-color: #FDDCC4;
    border-style: solid;
}

a.slider-button:hover {
    background-color: #FDDCC4;
    border-width: 2px;
    border-color: #FDDCC4;
    border-style: solid;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0px 53px 0px 53px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.card-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 1px;
    margin: 30px 0px 30px 0px;
}

.card-button {
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    width: 187px !important;
    margin-bottom: 30px;
}

.pets-button-block {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.pets-button {
    width: 261px !important;
}

/* END Section Pets */

/* Section Help */

section.help{
    background-color: #FFFFFF;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 25px -55px; /* Margin left/right should be 27px, but on 1280px wraping only 4 elements*/
}

.help-list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 60px 55px 60px;
}

.help-list-element-text {
    margin-top: 30px;
}

/* END Section Help */

/* Section Donation */

section.donation{
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}

.donation-dog-img {
    margin: 11px 0px 10px 0px;
}

.donation-info-block {
    width: 380px;
    margin-left: 30px;
}

.heading {
    margin-bottom: 20px;
}

.subheading {
    margin-bottom: 20px;
}

.credit-card-block {
    display: flex;
    width: max-content;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.credit-card-icon {
    margin-right: 15px;
}

/* END Section Donation */

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, #211F20, #211F20);
    padding: 40px 40px 0px;
}

/* Contacts */

.contacts {
    margin: 16px 0px 0px 0px;
}

.contact-block {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contact-icon-mail {
    width: 40px;
    height: 26px;
    background: url(/images/icons/mail.png);
    margin-right: 20px;
}

.contact-icon-phone {
    width: 40px;
    height: 32px;
    background: url(/images/icons/phone.png);
    margin-right: 20px;
}

/* END Contacts */

/* Location */

.location {
    margin: 16px 0px 0px 0px;
}

.location-block {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.location-icon {
    width: 22px;
    height: 32px;
    background: url(/images/icons/pin.png);
    margin-right: 20px;
}

/* END Contacts */

.footer-puppy-img {
    width: 300px;
    height: 310px;
    background: url(/images/footer-puppy.png);
}

/* END Footer */

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.pagination a.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    color: #292929;
    border-width: 2px;
    border-color: #F1CDB3;
    border-style: solid;
    text-decoration: none;
}

.pagination a.pagination-button:hover:not(.disabled) {
    background-color: #FDDCC4;
    border-width: 2px;
    border-color: #FDDCC4;
    border-style: solid;
}

.pagination a.pagination-button.active {
    background-color: #FDDCC4;
    border-width: 2px;
    border-color: #FDDCC4;
    border-style: solid;
}

.pagination a.pagination-button.disabled {
    cursor: default;
    background-color: none;
    border-width: 2px;
    border-color: #CDCDCD;
    border-style: solid;
}

.pagination a.pagination-button h4 {
    color: #292929;
}

.pagination a.pagination-button.disabled h4 {
    color: #CDCDCD;
}

/* END Pagination */